.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  filter: drop-shadow(0 -6mm 4mm rgb(160, 0, 210));
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg) scaleX(1) scaleY(1);
  }

  50% {
    transform: rotate(180deg) scaleX(1.5) scaleY(0.5);
  }

  to {
    transform: rotate(360deg) scaleX(1) scaleY(1);
  }
}